<template>
  <div class="relative flex w-full h-20 bg-blue-200">
      <!-- Contenedor de links -->
      <div class="relative flex items-center justify-around w-full">
          <a v-for="link in menu" :key="link.nombre" :href="link.link" class="font-bold text-black hover:text-purple-500">{{link.nombre}}</a>
      </div>
      <!-- Contenedor de logo -->
      <div v-if="logo.img != undefined" :class="logo.clases_contenedor">
          <img :src="logo.img" alt="" :class="logo.clases">
      </div>

  </div>
</template>

<script>



export default {
  name: 'MenuEstandar',
  components: {
  },
  data() {
      return {
          logo:{
            img:"https://madewithvuejs.com/mandant/madewithvuejs/images/logo.png", //Aquí se ingresa la url de la imagen
            clases_contenedor: "relative flex justify-end w-1/8 ",
            clases: "relative w-16 flex m-2",
          },
          menu:[
              {
                  nombre:"url1",
                  link:"link1"
              },
              {
                  nombre:"link2",
                  link:"link2"
              },
              {
                  nombre:"link3",
                  link:"link3"
              },
              {
                  nombre:"link4",
                  link:"link4"
              }
          ]
      }
  },
}
</script>