<template>

<div :class="clases">
    {{ Nombre }}
</div>
  
</template>

<script>
export default {
    name: 'Boton',
    props: {
        Nombre:String,
        clases: String,

    },

}
</script>
