<template>
<!-- Div principal del componente -->
  <div class="relative flex flex-col items-center justify-center w-full">

<!-- Se asignan clases generales que tendrá el div padre, clases que comparten todos los inputs/labels (En props separados) y la propiedad de inputs que se declara en la parte de data -->
  <InputForm 
  clases_div_padre="w-1/2 flex flex-col relative justify-center items-center" 
  clases_input_generales="relative border border-gray-400 rounded-md relative w-full p-1 my-4"
  clases_label_generales="relative justify-start flex w-full"
  :inputs="inputs"
  />

<!-- Se asigna el nombre que mostrará el botón y las clases que tendrá -->
  <Boton 
  Nombre="Enviar"
  clases="p-2 w-1/3 relative bg-green-400 rounded-md flex items-center justify-center text-white font-bold my-6"
  />
  
  </div>
</template>

<script>
import InputForm from './Input.vue'
import Boton from './Boton.vue'



export default {
  name: 'Form',
  components: {
    InputForm,
    Boton
  },
  data() {
      return {
        //   Arreglo de inputs, se define su label, id y clases que podría llegar a tener ese input en específico
          inputs:[
              {
                  id: 1,
                  label: "Nombre",
                  tipo: "text",
                  clase_label: "font-bold",
                  clase_input: ""
              },
              {
                  id:2,
                  label: "Correo",
                  tipo: "email",
                  clase_label: "",
                  clase_input: ""
              },
              {
                  id:2,
                  label: "Numero de libros",
                  tipo: "number",
                  clase_label: "",
                  clase_input: ""
              }
          ]
      }
  },
}
</script>
