<template>
    <div v-for="input in inputs" :class="clases_div_padre">
        <span :class="clases_label_generales +' '+input.clase_label">{{ input.label }}</span>
        <input :class="clases_input_generales +' '+input.clase_input" :type="input.tipo">
    </div>
    
  
</template>

<script>
export default {
    name: 'Input',
    props: {
        inputs: Object,
        clases_div_padre: String,
        clases_input_generales: String,
        clases_label_generales: String
    },

}
</script>