<template>
  <div class="relative flex flex-col justify-center w-full">
    <!-- Menu Estandar -->
    <menu-estandar/>
    <!-- Hecho con splide https://splidejs.com/-->
    <div class="relative w-full">
      <slider-splide/>
    </div>
    <!-- Contiene inputs y botones -->
    <div class="relative flex flex-row w-full mt-16">
      <div class="relative w-1/2">
        <form-completo/>
      </div>
      <div class="relative w-1/2">
      </div>
    </div>
    

  </div>
  
  

  
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

import FormCompleto from './components/Form/FormCompleto.vue'
import SliderSplide from './components/Slider/SliderSplide.vue'
import MenuEstandar from './components/Menu/Estandar.vue'



export default {
  name: 'app',
  components: {
    FormCompleto,
    SliderSplide,
    MenuEstandar
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
</style>
