<template>
  <div class="relative w-full">
  <splide :slides="slides" :options="options" class="w-full">
    <splide-slide v-for="slide in slides" :key="slide.src">
      <img :src="slide.src">
    </splide-slide>
  </splide>
  </div>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide';

  export default {
  components: {
    Splide,
    SplideSlide,
  },
  
  data() {
      return {
        // Se definen todas las imagenes que se usarán
        slides: [
					{ src: 'https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHdhbGxwYXBlcnxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' },
					{ src: 'https://images.unsplash.com/photo-1523895665936-7bfe172b757d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80' },
					{ src: 'https://images.unsplash.com/photo-1461342249744-29a57e9bd1cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80' },
				],
        // Todas las posibles opciones https://splidejs.com/options/
        options: {
          type: 'fade',
          arrows:true,
          pagination:false,
			  	rewind : true,
          cover  : true,
          height:'25rem',
          padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
          },
			  },
      };
    },
}
</script>

<style scoped>
.splide{
  padding: 0!important;
}
</style>
